---
layout: default
images: [
  [
    'KeelyJoyPhotoCR010bw.jpg',
    'KeelyJoyPhotoCR017.jpg',
    'KeelyJoyPhotoCR018.jpg',
    'KeelyJoyPhotoCR020.jpg'
  ],
  [
    'KeelyJoyPhotoCR027.jpg',
    'KeelyJoyPhotoCR035bw.jpg',
    'KeelyJoyPhotoCR042.jpg',
    'KeelyJoyPhotoCR043.jpg'
  ],
  [
    'KeelyJoyPhotoCR071.jpg',
    'KeelyJoyPhotoCR072.jpg',
    'KeelyJoyPhotoCR077bw.jpg',
    'KeelyJoyPhotoCR081.jpg'
  ],
  [
    'KeelyJoyPhotoCR083bw.jpg',
    'KeelyJoyPhotoCR085.jpg',
    'KeelyJoyPhotoCR086.jpg',
    'KeelyJoyPhotoCR087bw.jpg'
  ]
]
---
<div class='container kappa-banner'>
    <div class='row beta-banner'>
      <div class='col-sm-10 col-sm-offset-1 text-center'>
        <h1 class='text-big'>
          Engagement Photos
        </h1>
        <a href='http://www.keelyjoyphotography.com/' target='_blank'>Photos by Keely Joy Photography</a>
        {% include nav.html %}
      </div>
    </div>
    {% for set in page.images %}
      <div class='row'>
        {% for img in set %}
          <div class='col-sm-3'>
            <div style='padding: 10px 0px'>
              <img src='/assets/images/engagement-photos/{{img}}' class='img img-responsive' />
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
