---
title: Engagement Photos | Andersen Gadel Wedding | April 30th, 2016
description: >
  Engagment photos for Wyatt Andersen and Caitlin Gadel.
  To be married April 30th, 2016 at Pax Christi, reception at Mason's to follow.
og_url: "http://www.happilyeverandersen.com/engagement_photos.html"
layout: default
images: [
  [
    'KeelyJoyPhotoCR010bw.jpg',
    'KeelyJoyPhotoCR085.jpg',
    'KeelyJoyPhotoCR018.jpg',
    'KeelyJoyPhotoCR086.jpg'
  ],
  [
    'KeelyJoyPhotoCR027.jpg',
    'KeelyJoyPhotoCR035bw.jpg',
    'KeelyJoyPhotoCR042.jpg',
    'KeelyJoyPhotoCR043.jpg'
  ],
  [
    'KeelyJoyPhotoCR083bw.jpg',
    'KeelyJoyPhotoCR072.jpg',
    'KeelyJoyPhotoCR020.jpg',
    'KeelyJoyPhotoCR087bw.jpg'
  ],
  [
    'KeelyJoyPhotoCR071.jpg',
    'KeelyJoyPhotoCR057.jpg',
    'KeelyJoyPhotoCR077bw.jpg',
    'KeelyJoyPhotoCR081.jpg'
  ]
]
---

<div class='primary-background text-center comfy-padding'>
  <h1 class='text-big hidden-xs hidden-sm'>
    Engagement Photos
  </h1>
  <h1 class='text-md visible-xs visible-sm'>
    Engagement Photos
  </h1>
  <a href='http://www.keelyjoyphotography.com/' target='_blank'>Photos by Keely Joy Photography</a>
</div>

<div id='countdown' class='text-md text-center countdown'>&nbsp;</div>

<div class='default-background text-center'>
  {% include nav.html %}
</div>

{% for set in page.images %}
  <div class='row default-background'>
    {% for img in set %}
      <div class='col-sm-3'>
        <div class='photo-padding'>
          <a href='/assets/images/engagement-photos/{{img}}'>
            <img src='/assets/images/engagement-photos/{{img}}' class='img img-responsive' alt='An engagement photo of Caitlin and Wyatt' />
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
