---
title: Andersen Gadel Wedding Photos | Andersen Gadel Wedding | April 30th, 2016
description: >
  Wyatt Andersen and Caitlin Gadel Wedding photos.
  To be married April 30th, 2016 at Pax Christi, reception at Mason's to follow.
og_url: "http://www.happilyeverandersen.com/wedding_photos.html"
layout: default
---
<div class='primary-background text-center comfy-padding'>
  <h1 class='text-big hidden-xs hidden-sm'>
    Gadel Andersen Wedding Photos
  </h1>
  <h1 class='text-md visible-xs visible-sm'>
    Gadel Andersen Wedding Photos
  </h1>
</div>

<div id='countdown' class='text-md text-center countdown'>&nbsp;</div>

<div class='default-background text-center'>
  {% include nav.html %}
</div>

{% for i in (1..101) %}
  {% assign mod = i | modulo: 4 %}
  {% if mod == 1 %}
    <div class='row default-background'>
  {% endif %}

    <div class='col-sm-3'>
      <div class='photo-padding'>
        <a href='/assets/images/wedding-photos/{{i}}.jpg'>
          <img src='/assets/images/wedding-photos/{{i}}.jpg' class='img img-responsive full-width' alt="A photo from Wyatt Andersen and Caitlin Gadel's wedding."/>
        </a>
      </div>
    </div>

  {% if mod == 0 %}
    </div>
  {% endif %}
{% endfor %}
</div>
