<hr>
<strong>
  <div class='text-center'>
    <div class='hidden-xs'>
      <a href='/'>Home</a> -
      <a href='/rehearsal_dinner.html'>Rehearsal Dinner</a> -
      <a href='/engagement_photos.html'>Engagement Photos</a>
      <br />
      <a href='/bachelorette_photos.html'>Bachelorette Photos</a> -
      <a href='/esko_bridal_shower_photos.html'>Esko Bridal Shower Photos</a>
      <br />
      <a href='/wedding_photos.html'>Wedding Photos</a> -
      <a href='/proposal_photos.html'>Proposal Photos</a><br />
      <br />
      <a href='/moneypenny_fan_club_photos.html'>Moneypenny Fan Club Photos</a>
    </div>
    <div class='visible-xs'>
      <a href='/'>Home</a><br />
      <a href='/proposal_photos.html'>Proposal Photos</a><br />
      <a href='/rehearsal_dinner.html'>Rehearsal Dinner</a><br />
      <a href='/engagement_photos.html'>Engagement Photos</a><br />
      <a href='/bachelorette_photos.html'>Bachelorette Photos</a><br />
      <a href='/esko_bridal_shower_photos.html'>Esko Bridal Shower Photos</a><br />
      <a href='/wedding_photos.html'>Wedding Photos</a><br />
      <a href='/moneypenny_fan_club_photos.html'>Moneypenny Fan Club Photos</a>
    </div>
  </div>
</strong>
<hr>
