/*
 * Utility CSS classes non-project specific
   COLORS:
   A4C37B - green
   C0D8A1 - off green
   D3D3D3 - light gray
 */

body {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D3D3D3;
}

.content {
  max-width: 1920px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.header-banner {
  background: url('/assets/images/bw_right_path_facing.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #D3D3D3;
  color: #A4C37B;
}

.sub-footer-banner {
  background: url('/assets/images/bw_centered_medrangewine.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: #000000;
  color: #D3D3D3;
}

.primary-background {
  background-color: #A4C37B;
}
.default-background {
  background-color: #D3D3D3;
}

.footer-banner {
  background-color: #000000;
  color: #FFFFFF;
}

.max-width-1000 {
  max-width: 1000px;
}

.full-width {
  width: 100%;
}

.photo-padding {
  padding: 10px 0px;
}

.gentle-padding {
  padding: 10px;
}

.comfy-padding {
  padding: 40px 40px 40px 40px;
}

.sm-space {
  margin-top: 200px;
}

.space {
  margin-top: 300px;
}

.big-space {
  margin-top: 600px;
}

.bigger-space {
  margin-top: 700px;
}

.text-huge {
  font-size: 124px;
}

.text-big {
  font-size: 54px;
}

.text-md {
  font-size: 44px;
}

.countdown {
  background-color: #000000;
  color: #FFFFFF;
}

.hr-no-margin-bottom {
  margin-bottom: -20px;
}

.black-bg {
  background-color: #000000;
}
