/*
 * Utility CSS classes non-project specific
   COLORS:
   A4C37B - green
   C0D8A1 - off green
   D3D3D3 - light gray
 */

body {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.header-banner {
  background: url('/assets/images/bw_right_path_facing.jpg');
  background-size: 100%;
  color: #A4C37B;
}

.alpha-banner {
  background: url('/assets/images/color_centered_wine.jpg');
  background-size: 100%;
  color: #D3D3D3;
}

.beta-banner {
  background-color: #A4C37B;
}

.kappa-banner {
  background-color: #D3D3D3;
}

.footer-banner {
  background-color: #000000;
  color: #FFFFFF;
}

.default-bg-color {
  background-color: #D3D3D3;
}

.comfy-padding {
  padding: 40px 40px 40px 40px;
}

.img-logo {
  width: 200px;
  height: 200px;
}

.text-huge {

  font-size: 124px;
  padding: 10px;
}

.text-big {
  font-size: 78px;
}
