/*
 * Utility CSS classes non-project specific
   COLORS:
   A4C37B - green
   C0D8A1 - off green
   D3D3D3 - light gray
 */

body {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.header-banner {
  background: url('/assets/images/bw_right_path_facing.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #A4C37B;
}

.alpha-banner {
  background: url('/assets/images/bw_centered_medrangewine.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;   
  color: #D3D3D3;
  background-color: #000000;
}

.beta-banner {
  background-color: #A4C37B;
}

.kappa-banner {
  background-color: #D3D3D3;
}

.footer-banner {
  background-color: #000000;
  color: #FFFFFF;
}

.default-bg-color {
  background-color: #D3D3D3;
}

.comfy-padding {
  padding: 40px 40px 40px 40px;
}

.sm-space {
  margin-top: 200px;
}  

.space {
  margin-top: 300px;
}  

.big-space {
  margin-top: 600px;
}  
.bigger-space {
  margin-top: 700px;
}  

.text-huge {
  font-size: 124px;
  padding: 10px;
  max-width: 1000px;
}

.text-big {
  font-size: 64px;
}
